html {
  background-color: #f8aa3a;
  font-size: large;
  font-family: sans-serif;
}

header {
  text-align: center;
}

header img {
  zoom: 30%;
}

header, .content {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
}

.content {
  padding-bottom: 30px;
}

.examples {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  margin: 0;
  padding-inline-start: 0;
}

img {
  max-width: 100%;
}

#welcome {
  display: block;
  margin: 0 auto 20px auto;
}

@media screen and (min-width: 480px) {
  html {
    padding: 0 40px;
  }

  header img {
    zoom: 40%;
  }

  .examples {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 736px) {
  .examples {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.examples li {
  align-self: center;
  list-style: none;
  overflow: hidden;
}

.examples img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.examples img:hover {
  transform: scale(1.05);
}

.slider img {
  width: 300px;
}

[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}

.wrapper {
  padding: 0 5em;
}
.suite-container .title,
.suite-container .subtitle,
.suite-container li {
  padding: 5px 10px;
}
.suite-container li {
  font-size: 12px;
  line-height: 1.4;
  background: #f5f5f5;
}

.tns-controls {
  margin: 8px;
  text-align: center;
}

button {
  background-color: #f8aa39;
  border: none;
  border-radius: 4px;
  color: white;
  margin: 2px;
  padding: 4px 8px;
}

button:disabled {
  background-color: #f8aa39aa;
}



.dash {
  background-color: black;
  height: 3px;
  pointer-events: none;
  position: absolute;
  transition: opacity 5s ease-out;
  transform-origin: center center;
  width: 10px;
}

.fade {
  opacity: 0;
}

#bee {
  height: 60px;
  pointer-events: none;
  position: absolute;
  transform-origin: center center;
  width: 60px;
  z-index: 5;
}

#g140-2, #g134-0 {
  display: none;
}

.alt #g140-2, .alt #g134-0 {
  display: block;
}

#g140, #g134 {
  display: block;
}

.alt #g140, .alt #g134 {
  display: none;
}