html {
  background-color: #f8aa3a;
  font-size: x-large;
  font-family: sans-serif;
}

header {
  text-align: center;
}

header img {
  zoom: 30%;
}

header, footer, .content {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 12px;
}

.examples {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  margin: 0;
  padding-inline-start: 0;
}

@media screen and (min-width: 480px) {
  html {
    padding: 0 40px;
  }

  header img {
    zoom: 40%;
  }

  .examples {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 736px) {
  .examples {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.examples li {
  /* clip-path: circle(49% at center); */
  list-style: none;
  overflow: hidden;
}

.examples img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.examples img:hover {
  transform: scale(1.05);
}

.slider img {
  width: 300px;
}

[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}

.tns-nav {
  text-align: center;
  margin: 10px 0;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.tns-nav > .tns-nav-active {
  background: #999;
}
.playbutton-wrapper {
  text-align: center;
}
.playbutton-wrapper button {
  height: 34px;
  padding: 0 10px;
  font-size: 14px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.wrapper {
  padding: 0 5em;
}
.suite-container .title,
.suite-container .subtitle,
.suite-container li {
  padding: 5px 10px;
}
.suite-container li {
  font-size: 12px;
  line-height: 1.4;
  background: #f5f5f5;
}



.dash {
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: black;
  transition: opacity 5s ease-out;
  transform-origin: center center;
}

.fade {
  opacity: 0;
}

#bee {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 5;
  transform-origin: center center;
}

#g140-2, #g134-0 {
  display: none;
}

.alt #g140-2, .alt #g134-0 {
  display: block;
}

#g140, #g134 {
  display: block;
}

.alt #g140, .alt #g134 {
  display: none;
}