body {
  background-color: rgba(88, 195, 196, 1);

  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;

  overflow-x: hidden;
}

body:has(dialog[open]) {
  scrollbar-gutter: stable;
  overflow: hidden;
}

.page-section {
  padding: 16px;
  min-height: 110vh;
}

#sky {
  padding: 0;
}

#underground {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30vh 16px 0 16px;
    flex-grow: 1;
    z-index: 1;
  }

  a,
  a:visited {
    color: white;
    text-decoration: underline;
    font-weight: 700;
  }
}

footer {
  text-align: center;
}

#grass {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  z-index: 2;
  width: 100%;
  min-width: 1000px;
}

#dirt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 0;
  pointer-events: none;
  width: 100%;
  min-width: 1000px;
}

#horizon {
  padding-bottom: 50vh;
  max-width: 1300px;
  margin: 0 auto;

  color: #1a4d81;

  h2 {
    padding-top: 36px;
  }
}

#underground {
  background-color: #996f1b;
  color: white;
  font-size: 24px;
  padding: 0;
}

.cloud {
  width: 20vw;
  min-width: 300px;
  position: absolute;
  z-index: -1;
  animation: action 3s infinite ease-in-out alternate;
}

@keyframes action {
  0% {
    padding-bottom: -2vh;
  }
  100% {
    padding-bottom: 2vh;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 16px;
}

.image-container {
  aspect-ratio: 16 / 9;
  background-color: rgba(88, 195, 196, 1);
}

p {
  margin-block: 16px;
}

#about-me {
  object-fit: contain;
  width: 90vw;
  height: 90vh;
  margin: 5vh auto 0;
}

ul.examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 0;
  list-style: none;

  li {
    min-width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      scale: 1.2;
      transition: scale 0.2s;
      cursor: pointer;
    }

    img:hover {
      scale: 1;
    }
  }
}

dialog:modal {
  margin: auto;
  padding: 0;
  border: none;
  outline: none;

  img {
    max-width: 95vw;
    max-height: 95vh;
  }
}

h1 {
  display: none;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: 48px;
}

.bee {
  position: fixed;
  left: -40vw;
  top: 20%;
  width: 7vw;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  background-color: yellow;
  border-radius: 50%;
  border: 5px solid black;
  pointer-events: none;
  z-index: 5;
}

.spacer {
  height: 50vh;
}
