body {
  background: linear-gradient(180deg,rgba(235, 251, 255, 1) 0%, rgba(88, 195, 196, 1) 100%);
}

.page-section {
  padding: 16px;
  min-height: 110vh;
}

#underground {
    min-height: 100vh;
}

#grass {
  background-color: green;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
}

#horizon {
    padding-bottom: 116px;
}

#underground {
  background-color: brown;
}

.cloud {
  background-color: white;
  width: 400px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 16px;
}

.image-container {
    aspect-ratio: 16 / 9;
    background-color:rgba(88, 195, 196, 1);
}

p {
    margin-block: 16px;
}